parameters:
  level: 8
  inferPrivatePropertyTypeFromConstructor: true
  reportUnmatchedIgnoredErrors: false
  paths:
    - app
    - config
  excludePaths:
    analyse:
      - tests
    analyseAndScan:
      - tests
